## Handling Imbalanced Dataset
- Up Sampling : increase the data from the minority
- Down Sampling : decrease the data from the majority

In [1]:
import numpy as np
import pandas as pd

np.random.seed(123) ##Whenever iam randomly selecting some values, it shouldnt change

#creating a dataframe with two classes
n_samples= 1000
class_0_ratio=0.9 #90%
n_class_0= int(n_samples * class_0_ratio) #900 datapoints
n_class_1=n_samples-n_class_0 #100 data points

In [2]:
n_class_0, n_class_1

(900, 100)

In [4]:
## Create my database with imbalanced dataset
class_0 = pd.DataFrame({
    'feature1': np.random.normal(loc=0, scale=1, size=n_class_0),
    'feature2': np.random.normal(loc=0, scale=1, size=n_class_0),
    'target':[0]*n_class_0
})

class_1 = pd.DataFrame({
    'feature1': np.random.normal(loc=2, scale=1,size=n_class_1),
    'feature2': np.random.normal(loc=2, scale=1,size=n_class_1),
    'target':[1]*n_class_1
})

loc: This is the mean or “center” of your distribution—where the bulk of your data clusters.
Eg: loc=0 means the curve peaks at 0.
– Aka the location parameter in stats speak.

scale: The standard deviation, i.e., how wide or spread out the distribution is. Big scale = wide, flat curve; small scale = narrow and steep.

size: Determines the shape of the output array—how many samples and the dimensions.

size=100 → 1D array with 100 values

size=(900,) → same as above

size=(900, 2) → 2D array of shape 900×2
If size=None, you get a single scalar value (unless loc/scale supplies arrays)

In [7]:
df=pd.concat([class_0,class_1]).reset_index(drop=True)

In [8]:
df.head()

   feature1  feature2  target
0 -1.085631  0.551302       0
1  0.997345  0.419589       0
2  0.282978  1.815652       0
3 -1.506295 -0.252750       0
4 -0.578600 -0.292004       0

In [9]:
df.tail()

     feature1  feature2  target
995  1.376371  2.845701       1
996  2.239810  0.880077       1
997  1.131760  1.640703       1
998  2.902006  0.390305       1
999  2.697490  2.013570       1

In [10]:
df['target'].value_counts()

target
0    900
1    100
Name: count, dtype: int64

## upsampling

In [ ]:

df_minority=df[df['target']==1]
df_majority=df[df['target']==0]

In [12]:
from sklearn.utils import resample
df_minority_upsampled=resample(df_minority,replace=True, ##Sample with Replacement 
         n_samples=len(df_majority),
         random_state=42
         )

In [13]:
df_minority_upsampled.shape

(900, 3)

In [14]:
df_minority_upsampled.head()

     feature1  feature2  target
951  1.125854  1.843917       1
992  2.196570  1.397425       1
914  1.932170  2.998053       1
971  2.272825  3.034197       1
960  2.870056  1.550485       1

In [16]:
df_upsampled=pd.concat([df_majority,df_minority_upsampled])

In [17]:
df_upsampled['target'].value_counts()

target
0    900
1    900
Name: count, dtype: int64

## Down Sample

In [18]:

import numpy as np
import pandas as pd

np.random.seed(123) ##Whenever iam randomly selecting some values, it shouldnt change

#creating a dataframe with two classes
n_samples= 1000
class_0_ratio=0.9 #90%
n_class_0= int(n_samples * class_0_ratio) #900 datapoints
n_class_1=n_samples-n_class_0 #100 data points

## Create my database with imbalanced dataset
class_0 = pd.DataFrame({
    'feature1': np.random.normal(loc=0, scale=1, size=n_class_0),
    'feature2': np.random.normal(loc=0, scale=1, size=n_class_0),
    'target':[0]*n_class_0
})

class_1 = pd.DataFrame({
    'feature1': np.random.normal(loc=2, scale=1,size=n_class_1),
    'feature2': np.random.normal(loc=2, scale=1,size=n_class_1),
    'target':[1]*n_class_1
})

df=pd.concat([class_0,class_1]).reset_index(drop=True)

#check the class distribution
print(df['target'].value_counts())

target
0    900
1    100
Name: count, dtype: int64

In [20]:
df_minority=df[df['target']==1]
df_majority=df[df['target']==0]

from sklearn.utils import resample
df_majority_downsampled=resample(df_majority,replace=False, ##replace will not be true now coz we need to reduce the data points
         n_samples=len(df_minority), ##we have to decrease the len of majority to the length of the minority
         random_state=42
         )

df_majority_downsampled.shape

(100, 3)

In [21]:
df_downsampled=pd.concat([df_minority,df_majority_downsampled])

In [23]:
df_downsampled.target.value_counts()

target
1    100
0    100
Name: count, dtype: int64